<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luojiawei.his_service.mapper.DiagnosisReportMapper">
    <select id="getDiagnosisList" resultType="com.luojiawei.his_service.domain.vo.Diagnosises">
        <!-- 使用别名简化表名 -->
        SELECT
        d.id,
        d.disease_name,
        d.disease_category,
        d.create_time,
        d.status,
        d.name,
        a.version
        FROM
        diagnosis_report d
        JOIN
        aimodel a ON d.aimodel_id = a.id
        <where>
            <!-- 动态拼接status条件 -->
            <if test="status != null">
                AND d.status = #{status}
            </if>
        </where>
        <!-- 确保ORDER BY字段有索引 -->
        ORDER BY d.create_time DESC
    </select>

    <select id="getDiagnosisHistory" resultType="com.luojiawei.his_service.domain.vo.Diagnosises">
        SELECT
        d.id,
        d.disease_name,
        d.disease_category,
        d.create_time,
        d.status,
        d2.name,
        a.version AS model_version
        FROM
        diagnosis_report d
        JOIN
        ai_model a ON d.aimodel_id = a.id
        JOIN
        doctor d2 ON d.doctor_id = d2.id
        <where>
            <if test="endDate != null and startDate != null">
                AND end_time &gt;= #{startTime}
                AND start_time &lt;= #{endTime}
            </if>
            <if test="startDate != null and endDate == null">
                AND start_time BETWEEN #{startTime} AND #{endTime}
            </if>
            <if test="endDate != null and startDate == null">
                AND end_time BETWEEN #{startTime} AND #{endTime}
            </if>
            <if test="status != null" >
                status = #{status}
            </if>
        </where>
        ORDER BY create_time Desc
    </select>
</mapper>
