<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luojiawei.his_service.mapper.TreatmentPlansMapper">
    <select id="selectByDiagnosisId" resultType="com.luojiawei.his_service.domain.po.TreatmentPlans">
        select * from treatment_plans where diagnosis_id = #{diagnosisId}
    </select>
</mapper>
